@import url('@/assets/styles/reset/reset.css');
@import url('@/assets/styles/components/logo.css');
@import url('@/assets/styles/components/currencySelect.css');

.block {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

    .block__element--top {
        height: 50vh;

        display: flex;
        flex-direction: column;

        background-color: #fff;
    }

    .block__element--bottom {
        height: 50vh;
        padding: 31px 66px 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #000;
        z-index: 11111;

    }